aiohttp==3.13.*
fastapi==0.135.*
FastAPI-UI-Auth==0.3.*
Jinja2==3.1.*
prometheus_client==0.24.*
pydantic==2.12.*
pydantic-settings==2.13.*
python-dotenv==1.2.*
python-socketio==5.16.*
requests==2.32.*
uvicorn[standard]==0.41.*
websocket-client==1.9.*
